<h1>ヘルプページ</h1>
<p>@ささかま</p>
<h2><p>●検索について</p></h2>
<p>モジュール選択： 選択したモジュールから始まる授業を検索します。</p><br>
<h2><p>●アカウント登録について</p></h2>
<p>メールアドレス登録： 筑波大学生に与えられたメールアドレスでなければ登録できません。(tsukuba.ac.jp系)</p>
<p>コメント： アカウント登録を認証し、ログインしなければコメントは出来ません。</p>
