<h1><a class="acolor" href="https://kotozute.herokuapp.com">言伝〜Kotozute〜</a></h1>

<h2>これから講義を受ける人たちへためになる言葉を残そう！</h2>
<%= render 'opinion', user_voice: @user_voice %>
<%= link_to 'Back', lectures_path %>
