/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "UTF-8";
 h1 {font-size: 30px}
 h1 {font-family: serif }

#class_detail {float:left; width : calc(100% / 3) ;}
#class_comment {float:right; width : calc(200% / 3) ;}


table.search_result tr:nth-child(2n+1) {background-color:#add8e6;}
thead{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}

.star-rating-back {
  position: absolute;
  z-index: 1;
  top: 6px;
  color: #ccc;
}
