@charset "UTF-8";

body{
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
    margin:0;
    color:#313131;
    }
 
    
img{
outline:none;
border-style:none;
}


a{
    color:blue;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:visited{
    color:green;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    color: #F5A862;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


/*****HEADER*****/
header{
    display: block;
    width:60%;
    // margin-left: 20%;
    overflow: hidden;
}
header h1{
    font-size:120%;
    color:#313131;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight:400;
    float: left;
}
header p{
    font-size:100%;
    color:#313131;
    float: left;
}


/*****BRANDING*****/
#branding{
    display: block;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
    background-color: #313131;
    margin-bottom: 20px;
    letter-spacing: 3px;
    line-height: 300px;
}
#branding p{
    color: #fff;
    font-size: 80%;
    padding-left: 3%;
}


/*****NAV*****/
nav{
    width: 100%;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
}
nav li{
    width: calc(25% - 2px);
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    border-left: 1px solid orange;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}
nav li:last-child{
    border-right: 1px solid orange;
}

nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}

/*フォーム全体*/
#form1{
    position:relative;/*フォームの相対位置*/	
    max-width:270px;/*フォームのサイズ*/
    margin-bottom:15px;/*フォームの下に余白*/	 	
    }
    /*検索ボックス*/
    #sbox{
    //position:absolute;/*フォームの絶対位置*/	
    //left:0;
    //top:0; 	
    outline:0;/*クリック時の青い枠線消す*/	
    height:25px;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius:20px 20px 20px 20px;/*検索ボックスの角を丸める*/		
    background:#eee;/*検索ボックスの背景カラー*/		
    }
    /*検索ボタン*/
    #sbtn{
    width:60px;/*検索ボタンの横幅*/ 
    height:25px;/*検索ボタンの縦幅*/ 
    //position:absolute;/*検索ボタンの絶対位置*/  
    //left:270px;/*検索ボタンの位置調整*/  
    //top:0;
    border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
    background:#7fbfff;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
    }
    /*検索ボタンマウスオーバー時*/
    #sbtn:hover{
    color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
    }