<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのemailを以下のように変更したことを通知します。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのemailを以下のように変更したことを通知します。<%= @resource.email %>.</p>
<% end %>
